<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="10" configfailurepolicy="skip">
<!--<listeners>-->
<!--    <listener class-name="seleniumTestNG.TestStatusListener"></listener>-->
<!--</listeners>-->
<!--    <test name="SeleniumBDD">-->
<!--        <classes>-->
<!--            <class name="selenium.demo.runner.TestRunner"></class>-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="SerenityTest">-->
<!--        <classes>-->
<!--            <class name="serenity.demo.tests.ElementPageTest"></class>-->
<!--        </classes>-->
<!--    </test>-->
    <test name="SeleniumTestNG">
        <classes>
            <class name="seleniumTestNG.TestNGTestClass"></class>
        </classes>
    </test>
<!--    <test name="APITestNG">-->
<!--        <classes>-->
<!--            <class name="selenium.demo.endToendAPITest.APITestNGTest"></class>-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="APPIUMTestNG">-->
<!--        <classes>-->
<!--            <class name="Appium.Demo.TestClass"></class>-->
<!--        </classes>-->
<!--    </test>-->
</suite>