<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="10" configfailurepolicy="skip">
<!--<listeners>-->
<!--    <listener class-name="seleniumTestNG.TestStatusListener"></listener>-->
<!--</listeners>-->
<!--    <test name="SeleniumBDD">-->
<!--        <classes>-->
<!--            <class name="selenium.demo.runner.TestRunner"></class>-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="SerenityTest">-->
<!--        <classes>-->
<!--            <class name="serenity.demo.tests.ElementPageTest"></class>-->
<!--        </classes>-->
<!--    </test>-->
    <test name="SeleniumTestNG">
        <classes>
            <class name="seleniumTestNG.TestNGTestClass"></class>
        </classes>
    </test>
<!--    <test name="APITestNG">-->
<!--        <classes>-->
<!--            <class name="selenium.demo.endToendAPITest.APITestNGTest"></class>-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="APPIUMTestNG">-->
<!--        <classes>-->
<!--            <class name="Appium.Demo.TestClass"></class>-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="Selenium Grid demo test on Chrome">-->
<!--        <parameter name="browser" value="chrome"/>-->
<!--        <classes>-->
<!--            <class name="seleniumGrid.demo.LocalGridDemoTests">-->
<!--                <methods>-->
<!--                    <include name="testSearchProduct"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="Selenium Grid demo test on Firefox">-->
<!--        <parameter name="browser" value="firefox"/>-->
<!--        <classes>-->
<!--            <class name="seleniumGrid.demo.LocalGridDemoTests">-->
<!--                <methods>-->
<!--                    <include name="testSearchProduct"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="Selenium Grid demo test on Edge">-->
<!--        <parameter name="browser" value="edge"/>-->
<!--        <classes>-->
<!--            <class name="seleniumGrid.demo.LocalGridDemoTests">-->
<!--                <methods>-->
<!--                    <include name="testSearchProduct"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
</suite>